@model List<Order>

@{
    ViewData["Title"] = "Order List";
}


<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>ORDER LIST</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Items</th>
                    <th>Total</th>
                 
                </tr>
            </thead>
            <tbody>
                @foreach(var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach(var item in order.OrderItems)
                                {
                                <li>
                                    <div class="alert alert-infro" role="alert">
                                            @item.Product.ProductName: [@item.ProductQuantity] X @item.Product.ProductPrice.ToString("c") = @((item.ProductQuantity * item.Product.ProductPrice).ToString("c"))
                                    </div>
                                </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(m => m.Product.ProductPrice * m.ProductQuantity).Sum().ToString("c")
                        </td>
                       
                    </tr>
                }


            </tbody>

        </table>


    </div>


</div>